---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE } from '../consts';
import MemberCard from '../components/MemberCard.astro';

// メンバー一覧データ（ローカル定義）
const members = [
  {
    name: "Tsuyoshi🐢",
    photo: "/tsuyoshi.jpg",
    personalbest: {
      "100m": "12.03",
      "800m": "1:57.17",
      "1500m": "4:05.07",
      "5000m": "15:50.??",
      "Marathon": "2:32:43",
      "Long jump": "5m40cm",
    },
    intro:
      "弊チーム代表。シューズをたくさん持っている。普段は研究機関で働いている。ランニングも探求志向。",
  },
  {
    name: "Hiroki",
    photo: "/blog-placeholder-4.jpg",
    personalbest: {
      Marathon: "2:36",
    },
    intro:
      "陸上未経験、社会人から走り始めて数年でマラソン2:36を達成したスーパ―ランナー。目標は福岡国際マラソン出場！！",
  },
   {
    name: "Kenta",
    photo: "/blog-placeholder-4.jpg",
    personalbest: {
      "100m": "?"
    },
    intro:
      "長時間労働にも負けず練習を継続する驚異的なタフネスの化身。ウエイトトレーニングも好き。ディープな陸上談義ができる貴重な存在。",
  },
  {
    name: "Takuto🐰",
    photo: "/blog-placeholder-4.jpg",
    personalbest: {
      "100m": "?",
      Enbannage: "?",
    },
    intro:
      "弊チームのスプリンター。競技遍歴は紆余曲折。エンジニアだが理学療法士の資格も持っている。好きな部位は膝。",
  },
  {
    name: "Moeko🐹",
    photo: "/moeko.png",
    personalbest: {
      "1500m": "4:45.65",
      "3000m": "9:46.06",
      "5000m": "16:35.99",
      Marathon: "3:21:25",
    },
    intro:
      "チームの要。ジュニアオリンピック、都道府県対抗駅伝北海道代表、空知記録保持など輝かしい経歴。普段はエンジニア。本ホームページも担当。最近は筋トレにもお熱。ウエイトで培った筋肉を引っ提げて、空知記録更新なるか。",
  },
  {
    name: "Sho🐶",
    photo: "/blog-placeholder-2.jpg",
    personalbest: {
      "400m": "49.??",
      Marathon: "3:33",
    },
    intro:
      "弊チームのロングスプリンター。スピードアプローチでマラソンも走れることを体を張って実証中。気分の波は御愛嬌。",
  },
  {
    name: "Koya",
    photo: "/blog-placeholder-4.jpg",
    personalbest: {
      "100m": "11.10",
    },
    intro:
      "チームのチーター。陸上でしかドーパミンが出ないモンスター。世界陸上は録画をしない、Day9まで現地観戦するのが彼の流儀。",
  },
    {
    name: "Masaya",
    photo: "/blog-placeholder-4.jpg",
    personalbest: {
      "1500m": "11.10",
    },
    intro:
      "非登録での参加。マネージャー兼任。なお、1500mのタイムはチーム最速、インターハイ出場経験ありの実力者。そして靴マニア。ここで多くは語れない。",
  },
];
---

<!doctype html>
<html lang="ja">
  <head>
    <BaseHead title={SITE_TITLE} />
  </head>
  <body>
    <Header />
    <main>
      <h2>ここはメンバーのページだよ！</h2>

      <div class="member-grid">
        {members.map((member) => (
          <MemberCard {...member} />
        ))}
      </div>
    </main>
    <Footer />
  </body>
  </html>

<style>
  .member-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    margin-top: 1em;
  }

  main h2 {
    text-align: center;
    font-size: 1.5em;
    margin-top: 1em;
  }
</style>

